/*BODY*/
 body{
    font-family: Arial, sans-serif;
 }

/*HEADER*/

header{
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 2;
    font-family: Helvetica, arial, sans-serif;
}
.logo{
    background-color: black;
    text-align: right;
}
.logo img{
    width: 10%;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.short-menu{
    border: 1px solid gray;
    padding: 0 4px;
}
li{
    display: inline;
}
li img{
    width: 1%;
}
a{
    text-decoration: none;
    color: inherit;
}
.view-xl{
    width: 100%;
    text-align: end;
}
.lens img{
    width: 20px;
}
/*HEADER*/

/*MAIN*/

section{
    padding: 20px 0;
}
/*FIRST-SECTION*/

.first-section{
   z-index: 1;
   background-image: url(img-playstastion/jumbo-bg.png);
   background-size: cover;
   background-position: center;
   background-position-y:+70px;
   position: relative;
}
.content-jumbo{
    padding-top: 350px;
    padding-bottom: 50px;
    text-align: left;
    color: white;
}
.img-returnal img{
    width: 100px;
    height: 20px;
}

/*SECOND-SECTION*/

.row{
    padding: 5px;
}
.col-6.col-md-4.col-lg-2 img{
    width: 100%;
    padding: 5px;
    border-radius: 20px;
}

/*THIRD-SECTION*/

.section-third{
    text-align: center;
}
.blu{
    color: #4e9adb;
}
.gray{
    color: #828282;
}

/*FOUR-SECTION*/

.col-12.col-md-6.col-lg-6{
    background-color: white;
}
.col-12.col-md-6.col-lg-6 img{
    width: 100%;
}

/*FIVE-SECTION*/

.col-4.col-md-2.col-lg-2 img{
    width: 100%; 
}
.col-4.col-md-2.col-lg-2:first-of-type{
    border-bottom:1px solid  #4e9adb;
}

/*SIX-SECTION*/

.img-it-takes-two img{
    width: 300px;
}
.section-six{
    z-index: 1;
    background-image: url(img-playstastion/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

/*SEVEN-SECTION*/

.seven-section{
    background-color: #1f1f1f;
    color: white;
    text-align: left;
}
.col-6.col-md-4.col-lg-2 h3{
    font-size: 20px;
    padding: 0 5px;
}
.title-seven{
    padding: 13px;
}

/*EIGHT-SECTION*/

.col-12.col-md-4 img{
    width: 100%;
}
.eight-section{
    text-align: center;
}
.eight-section .container .col-12.col-md-4{
    text-align: left;
}

/*NINE-SECTION*/

.nine-section{
    background-color: #bebcbb;
}
.nine-section .container .row{
    padding-top: 0px ;
    padding-bottom: 0px;
}
.col-md-6.d-none.d-sm-none.d-md-block {
    background-color: #bebcbb;
}
.col-md-6.d-none.d-sm-none.d-md-block img{
    width: 100%;
}
.nine-section .container .row .col-12.col-md-6{
    text-align: left;
    color: white;
    background-color: #bebcbb;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.img-nine img{
    width:70%;
}
.btn-light{
    color: blue;
    border-radius: 20px;
    width: 50%;
}

/*TEN-SECTION*/

.ten-section .container{
    text-align: center;
}
.col-12.col-md-4{
    padding-bottom: 15px;
}

/*ELEVEN-SECTION*/

.eleven-section{
    background-color: #161c3b;
}
.eleven-section .container .row{
    padding-top: 0px ;
    padding-bottom: 0px;
}
.eleven-section .container .row .col-12.col-md-6{
    text-align: left;
    color: white;
    background-color: #161c3b;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.img-eleven img{
    width:70%;
}
.eleven-section .col-md-6.d-none.d-sm-none.d-md-block{
    background-color: #161c3b;
}
.eleven-section .btn-light{
    color: black;
    border-radius: 20px;
    width: 50%;
}

/*TWELVE-SECTION*/

.twelve-section .container{
    text-align: center;
    padding: 10px 80px;
}
.col-6.col-md-3 {
    padding-bottom: 15px;
}
.col-6.col-md-3 img{
    width: 100%;
}

/*FOOTER*/

footer{
    background-color: #00439c;
    color: white;
    padding: 20px 0;
}
footer a{
    vertical-align: middle;
    color: white;
}
.col-12.col-lg-6 img{
    width: 25%;
}
svg{
    width: 15px;
    vertical-align: middle;
}
.last-ul{
    font-size: 10px;
}
.last-ul li {
    display: block;
}
@media screen and (max-width:767px){
    .nine-section .container .row{
        padding-top: 20px ;
        padding-bottom: 25px;
    }
    .img-nine img{
        width:50%;
    }
    .btn-light{
        width: 30%;
        font-size: 10px;
    }
    .eleven-section .container .row{
        padding-top: 20px ;
        padding-bottom: 25px;
    }
    .img-nine img{
        width:50%;
    }
    footer .col-12.col-md-6 .row{
        flex-direction: column;
    }
}
@media screen and (max-width:991px){
    .view-xl{
        display: none;
    }
    .view-xll{
        display: none;
    }
    .btn-light{
        width: 45%;
        font-size: 10px;
    }
}
@media screen and (min-width:992px) {
    .short-menu{
        display: none;
    }
    .row{
        justify-content: space-between;
    }
}